doctype html
html
  head
    title= title
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(
      id='pagestyle',
      rel='stylesheet',
      href=`compiled/${theme}.min.${version}.css`)
    block head

  body
    block intro
    block content
    block bottomScripts